/*CSS Settings for Desktop and Tablet View*/

body,html {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #191919;
}

.text-muted{
    color:white;
}

.box {
    width: 50%;
    position: absolute;
    background: #191919;
    top:25%;
    left:25%;
    text-align: center;
    transition: 0.25s;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1,h4 {
    color: white;
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    width: 150px;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

h4{
    margin-left:5%;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
    width:200px;
}

.forgot {
    text-decoration: underline;
}

/*Mobile Responsive Setting for Mobile*/

@media screen and (max-width: 420px) {
.box {
    width: 30%;
    left:27%;
}

.box input[type="text"],
.box input[type="password"] {
    padding: 10px 10px;
    width: 150px;
    margin-left:10%;
}

h1 {
    margin-left:50%;
    font-size:22px;
}

h3{
    font-size:13px;
    width:200px;
}

h4{
    font-size:16px;
    margin-left:5%;
}

p{
    width: 200px;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 200px;
    margin-left:-15%;
}

.box input[type="submit"] {
    width: 130px;
    margin-left:25%;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
    width:150px;
}

.forgot {
    text-decoration: underline;
}
}